.
<section class="reviews">
  <div class="container">
    <h2 class="reviews-title">
      reviews from our <span class="reviews-title-customers">customers</span>
    </h2>
    <p class="reviews-title-content">
      Words of our customers: impressions and opinions about the quality of our
      services and the freshness of our products.
    </p>
    <ul class="reviews-list">
      <!--REVIEWS ONE -->
      <li class="reviews-item x">
        <div class="reviews-item-group">
          <img
            srcset="
              ../img/reviews-img/img_JW.jpg    1x,
              ../img/reviews-img/img_JW@2x.jpg 2x
            "
            src="../img/reviews-img/img_VR.jpg"
            alt="John Wax photo"
            width="56"
            height="56"
          />
        </div>
        <div class="reviews-item-box">
          <h3 class="reviews-item-title">John Wax</h3>
          <p class="reviews-item-content">
            These vegetables are my secret to delicious and healthy meals. The
            quality is always at the highest level, the aroma and taste are
            enchanting. I advise every fan of real products!
          </p>
        </div>
      </li>
      <!--REVIEWS TWO -->
      <li class="reviews-item y">
        <div class="reviews-item-group">
          <img
            srcset="
              ../img/reviews-img/img_VR.jpg    1x,
              ../img/reviews-img/img_VR@2x.jpg 2x
            "
            src="../img/reviews-img/img_VR.jpg"
            alt="Victoria Romashenko photo"
            width="56"
            height="56"
          />
        </div>
        <div class="reviews-item-box">
          <h3 class="reviews-item-title">Victoria Romashenko</h3>
          <p class="reviews-item-content">
            I love how fast and fresh the vegetables are delivered. Salads
            always turn out so appetizing, and soups are real masterpieces. The
            quality is impeccable!
          </p>
        </div>
      </li>
      <!--REVIEWS THREE -->
      <li class="reviews-item z">
        <div class="reviews-item-group">
          <img
            srcset="
              ../img/reviews-img/img_IT.jpg    1x,
              ../img/reviews-img/img_IT@2x.jpg 2x
            "
            src="../img/reviews-img/img_IT.jpg"
            alt="Ihor Trachuk photo"
            width="56"
            height="56"
          />
        </div>
        <div class="reviews-item-box">
          <h3 class="reviews-item-title">Ihor Trachuk</h3>
          <p class="reviews-item-content">
            Recently tried my fresh tomatoes and peppers - amazing! The
            authenticity of the taste, as if from the garden directly to my
            table. It is now my main vegetable supplier.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
