<section class="vegetables" id="vegetables">
    <div class="container vegetables-container">
       <h2 class="vegetables-header">organic <span class="vegetables-accent">vegetables</span></h2>
       <p class="vegetables-text">Our organic vegetables are hand-picked from local farms and delivered straight to your doorstep, ensuring that you get the freshest and most nutritious produce possible.</p>
       <ul class="vegetables-list">
        <li class="vegetables-item">
            
                <div class="vegetables-item-wrapper">
                    <h3  class="vegetables-item-header">eggplant</h3>
                        <p class="vegetables-item-text">60 USD / kg</p>
                
                </div>
                <picture>
                   
                    <source srcset="../img/vegetables/eggplant@1x.png 1x, ../img/vegetables/eggplant@2x.png 2x" media="(min-width: 1280px)">
                    
                    <source srcset="../img/vegetables/eggplant-mob-tablet@1x.png 1x, ../img/vegetables/eggplant-mob-tablet@2x.png 2x" media="(min-width: 768px)">
  
                    <source srcset="../img/vegetables/eggplant-mob-tablet@1x.png 1x, ../img/vegetables/eggplant-mob-tablet@2x.png 2x" media="(max-width: 767px)">
                
                    <img 
                        src="../img/vegetables/eggplant@1x.png" 
                        width="280" 
                        alt="eggplant">
                </picture>
            
        </li>
        <li class="vegetables-item"> 
            
                <div class="vegetables-item-wrapper">
                    <h3 class="vegetables-item-header">leek</h3>
                        <p class="vegetables-item-text">50 USD / kg</p>
                
                </div>
                <picture>
  
                    <source srcset="../img/vegetables/leek@1x.png 1x, ../img/vegetables/leek@2x.png 2x" media="(min-width: 1280px)">
  
                    <source srcset="../img/vegetables/leek-mob-tablet@1x.png 1x, ../img/vegetables/leek-mob-tablet@2x.png 2x" media="(min-width: 768px)">
  
                    <source srcset="../img/vegetables/leek-mob-tablet@1x.png 1x, ../img/vegetables/leek-mob-tablet@2x.png 2x" media="(max-width: 767px)">
                
                    <img 
                        src="../img/vegetables/leek@1x.png" 
                        width="280" 
                        alt="leek">
                </picture>
            
        </li>
        <li class="vegetables-item"> 
            
                <div class="vegetables-item-wrapper">
                    <h3 class="vegetables-item-header">mushrooms</h3>
                        <p class="vegetables-item-text">40 USD / kg</p>
                
                </div>
                <picture>
  
                    <source srcset="../img/vegetables/mushrooms@1x.png 1x, ../img/vegetables/mushrooms@2x.png 2x" media="(min-width: 1280px)">
  
                    <source srcset="../img/vegetables/mushrooms-mob-tablet@1x.png 1x, ../img/vegetables/mushrooms-mob-tablet@2x.png 2x" media="(min-width: 768px)">
  
                    <source srcset="../img/vegetables/mushrooms-mob-tablet@1x.png 1x, ../img/vegetables/mushrooms-mob-tablet@2x.png 2x" media="(max-width: 767px)">
                
                    <img 
                        src="../img/vegetables/mushrooms@1x.png" 
                        width="280" 
                        alt="mushrooms">
                </picture>
            
        </li>
        <li class="vegetables-item"> 
          
                
                    <div class="vegetables-item-wrapper">
                        <h3 class="vegetables-item-header">corn</h3>
                            <p class="vegetables-item-text">60 USD / kg</p>
                    </div>
                    <picture>
  
                        <source srcset="../img/vegetables/corn@1x.png 1x, ../img/vegetables/corn@2x.png 2x" media="(min-width: 1280px)">
                        
  
                        <source srcset="../img/vegetables/corn-mob-tablet@1x.png 1x, ../img/vegetables/corn-mob-tablet@2x.png 2x" media="(min-width: 768px)">
  
                        <source srcset="../img/vegetables/corn-mob-tablet@1x.png 1x, ../img/vegetables/corn-mob-tablet@2x.png 2x" media="(max-width: 767px)">
  
                        <img 
                            src="../img/vegetables/corn@1x.png" 
                            width="280" 
                            alt="corn">
                    </picture>
                
            
        </li>
        <li class="vegetables-item"> 
            
                <div class="vegetables-item-wrapper">
                    <h3 class="vegetables-item-header">sweet potatoes</h3>
                        <p class="vegetables-item-text">50 USD / kg</p>
                
                </div>
                <picture>
  
                    <source srcset="../img/vegetables/sweet-potatoes@1x.png 1x, ../img/vegetables/sweet-potatoes@2x.png 2x" media="(min-width: 1280px)">
                    
  
                    <source srcset="../img/vegetables/sweet-potatoes-mob-tablet@1x.png 1x, ../img/vegetables/sweet-potatoes-mob-tablet@2x.png 2x" media="(min-width: 768px)">
                
  
                    <source srcset="../img/vegetables/sweet-potatoes-mob-tablet@1x.png 1x, ../img/vegetables/sweet-potatoes-mob-tablet@2x.png 2x" media="(max-width: 767px)">
                
             
                    <img 
                        src="../img/vegetables/sweet-potatoes@1x.png" 
                        width="280" 
                        alt="sweet potatoes">
                </picture>
            
        </li>
        <li class="vegetables-item"> 
            
                <div class="vegetables-item-wrapper">
                    <h3 class="vegetables-item-header">carrot</h3>
                        <p class="vegetables-item-text">40 USD / kg</p>
                
                </div>
                <picture>
  
                    <source srcset="../img/vegetables/carrot@1x.png 1x, ../img/vegetables/carrot@2x.png 2x" media="(min-width: 1280px)">
  
                    <source srcset="../img/vegetables/carrot-mob-tablet@1x.png 1x, ../img/vegetables/carrot-mob-tablet@2x.png 2x" media="(min-width: 768px)">
  
                    <source srcset="../img/vegetables/carrot-mob-tablet@1x.png 1x, ../img/vegetables/carrot-mob-tablet@2x.png 2x" media="(max-width: 767px)">
  
                    <img 
                        src="../img/vegetables/carrot@1x.png" 
                        width="280" 
                        alt="carrot">
                </picture>
            
        </li>
       </ul>
    </div>
  </section>