
<section class="callback">
  <div class="container">
    <div class="callback-area">
      <h2 class="callback-title">
        Fresh <span class="accent">Harvest</span> Box has got you covered
      </h2>
      <p class="callback-text">Our boxes are packed with delicious, nutritious vegetables, perfect for anyone looking to eat healthier or support local farmers. Order your box today and start enjoying the best that nature has to offer!</p>
    </div>  
    <div class="flex">
      <div class="form-section">
        <h3 class="form-description">Ordering <span class="highlight">From Us</span> is Quick and Easy! Fill out <span class="accent">the form</span> below and we will contact you!</h3>
        <form class="contact-form" action="#" method="POST" novalidate>
          <input 
            class="input-name" 
            type="text" 
            name="fullName" 
            placeholder="Full Name" 
            required>
          <input 
            class="input-email" 
            type="email" 
            name="email" 
            placeholder="Email" 
            required  
            pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,})\.([A-z]{2,8})">
          <textarea 
            class="input-comment" 
            name="comment" 
            placeholder="Comment" 
            required></textarea>
            
            <button type="submit" class="submit-button">Send</button>
        </form>
      </div>
      <div class="social">
        <picture>
          <source 
            srcset="img/your-order/picMobile.jpg 1x, img/your-order/picMobile@2x.jpg 2x" 
            media="(max-width: 767px)">
          <source 
            srcset="img/your-order/picTablet.jpg 1x, img/your-order/picTablet@2x.jpg 2x" 
            media="(min-width: 768px) and (max-width: 1279px)">
          <source 
            srcset="img/your-order/picDesktop.jpg 1x, img/your-order/picDesktop@2x.jpg 2x" 
            media="(min-width: 1280px)">
          <img class="social-img" src="img/your-order/picMobile.jpg" alt="A woman in sportswear squeezing lemon juice into a bottle with fruits on a kitchen counter. 
            Other fruits and berries are placed around.">
        </picture> 
        <div class="social-area"> 
          <p class="social-text">Follow us on our social networks:</p>
          <ul class="social-list">
            <li class="social-item">
              <a href="https://www.instagram.com/goitclub/" target="_blank">Instagram</a>
            </li>
            <li class="social-item">
              <a href="https://www.facebook.com/goITclub/" target="_blank">Facebook</a>
            </li>
            <li class="social-item">
              <a href="https://www.youtube.com/c/GoIT" target="_blank">Youtube</a>
            </li>
          </ul>
        </div> 
      </div>
    </div>
  </div>
</section>