@media only screen and (min-width: 320px) and (max-width: 374px) {
  .footer {
    background-color: #7a3145;
    padding: 40px 0;
  }
  .container {
  }
  .footer-container {
  }
  .footer-logo-wrapper {
  }
  .footer-logo {
    background-color: #fff;
  }
  .footer-logo-svg {
  }
  .footer-desc {
  }
  .footer-link-wrapper {
  }
  .footer-list {
  }
  .footer-item {
  }
  .footer-link {
  }
  .footer-address-wrapper {
  }
  .footer-address {
  }
  .footer-contacts-list {
  }
  .footer-contact-item {
  }
  .footer-contact-link {
  }
  .footer-text-wrapper {
  }
  .footer-text {
  }
}

@media only screen and (min-width: 375px) {
  .footer {
    background-color: #7a3145;
    padding: 40px 0;
  }
  .container {
  }
  .footer-container {
  }
  .footer-logo-wrapper {
  }
  .footer-logo {
    background-color: #fff;
  }
  .footer-logo-svg {
  }
  .footer-desc {
  }
  .footer-link-wrapper {
  }
  .footer-list {
  }
  .footer-item {
  }
  .footer-link {
  }
  .footer-address-wrapper {
  }
  .footer-address {
  }
  .footer-contacts-list {
  }
  .footer-contact-item {
  }
  .footer-contact-link {
  }
  .footer-text-wrapper {
  }
  .footer-text {
  }
}

@media only screen and (min-width: 768px) {
  .footer {
  }
  .container {
  }
  .footer-container {
  }
  .footer-logo-wrapper {
  }
  .footer-logo {
  }
  .footer-logo-svg {
  }
  .footer-desc {
  }
  .footer-link-wrapper {
  }
  .footer-list {
  }
  .footer-item {
  }
  .footer-link {
  }
  .footer-address-wrapper {
  }
  .footer-address {
  }
  .footer-contacts-list {
  }
  .footer-contact-item {
  }
  .footer-contact-link {
  }
  .footer-text-wrapper {
  }
  .footer-text {
  }
}

@media only screen and (min-width: 1280px) {
  .footer {
  }
  .container {
  }
  .footer-container {
  }
  .footer-logo-wrapper {
  }
  .footer-logo {
  }
  .footer-logo-svg {
  }
  .footer-desc {
  }
  .footer-link-wrapper {
  }
  .footer-list {
  }
  .footer-item {
  }
  .footer-link {
  }
  .footer-address-wrapper {
  }
  .footer-address {
  }
  .footer-contacts-list {
  }
  .footer-contact-item {
  }
  .footer-contact-link {
  }
  .footer-text-wrapper {
  }
  .footer-text {
  }
}
